#root {
  min-width: auto;
  min-height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  position: relative;
  height: clamp(600px, 90vh, 900px);
  width: clamp(320px, 95vw, 1400px);
}
.profile {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}
.logo {
  height: 12em;
  width: 12em;
  transition: filter 300ms;
  box-shadow: #61dafbaa;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.status {
  width: auto;
  top: 0;
  position: fixed;
  z-index: 1000;
}
